body {
  background-color: #F7F7F2;
}
p {
  font-size: 17px;
}
nav {
 color: #261C15;
 font-size: 25px;
 font-family: Georgia;
 background-color: #F7F7F2;
 text-align: center;
}
 a {
  text-decoration:none;
 }
